<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width">
    <title>Strix - Motion Camera UI - Event Images</title>
</head>
<body>
<ul>
% for img in listing:
    <li><a href="{{img}}">{{img}}</a>
% end
</ul>
</body>
</html>
