html {
    height: 100%;
}

body {
    height: 100%;
}

#live-feeds {
}

.feed {
    break-inside: avoid;
}

@media (min-width: 40em) {
    #live-feeds {
        column-count: 2;
        column-gap: 1px;
    }
}

#topview {
  display: flex;
  max-height: 70%
}

#viewer {
  flex: 7;
}

video {
  width: 100%;
  height: 100%;
}


#days {
  overflow: auto;
  flex: 1;
}

#days ul {
    list-style: none;
    line-height: 1.3em;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

#days li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}

#days li a:hover {
    background-color: #555;
    color: white;
}

.newday {
    display: inline;
    whitespace: nowrap;
}

.newday h1 {
    border: 1px solid black;
    margin: 2px;
}

#events {
}

td.prev,td.next {
    background: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

td.prev:hover,td.next:hover {
    background: lightgrey;
}

.feed table {
    border-spacing: 0px;
    display: block;
    width: 100%;
}

img.thumbnail {
    width: 20%;
    height: auto;
    display: inline;
    vertical-align: text-bottom;
#    float: left;
}

img.thumbnail:hover {
    transform: scale(2.0);
}

img.feed-src {
    width: 100%;
    display: block;
}

.controls {
}
